@charset "utf-8";
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

@import "variables";

/*
 Views
 */
/* All screen views */
@media screen {
	@import "views/screen";
}

/* Extra-small view and under */
@media screen and (max-width: $xSmallViewMax) {
	@import "views/screen-xs-max";
}

/* Small view and under */
@media screen and (max-width: $smallViewMax) {
	@import "views/screen-sm-max";
}

/* Medium view and under */
@media screen and (max-width: $mediumViewMax) {
	@import "views/screen-md-max";
}

/* Large view and under */
@media screen and (max-width: $largeViewMax) {
	@import "views/screen-lg-max";
}

/* Extra-small view and over */
@media screen and (min-width: $xSmallViewMin) {
	@import "views/screen-xs-min";
}

/* Small view and over */
@media screen and (min-width: $smallViewMin) {
	@import "views/screen-sm-min";
}

/* Medium view and over */
@media screen and (min-width: $mediumViewMin) {
	@import "views/screen-md-min";
}

/* Large view and over */
@media screen and (min-width: $largeViewMin) {
	@import "views/screen-lg-min";
}

/* Extra-extra-small view */
@media screen and (max-width: $xxSmallViewMax) {
	@import "views/screen-xxs-max";
}

/* Extra-small view */
@media screen and (min-width: $xSmallViewMin) and (max-width: $xSmallViewMax) {
	@import "views/screen-xs-min-to-screen-xs-max";
}

/* Small view */
@media screen and (min-width: $smallViewMin) and (max-width: $smallViewMax) {
	@import "views/screen-sm-min-to-screen-sm-max";
}

/* Medium view */
@media screen and (min-width: $mediumViewMin) and (max-width: $mediumViewMax) {
	@import "views/screen-md-min-to-screen-md-max";
}

/* Large view */
@media screen and (min-width: $largeViewMin) and (max-width: $largeViewMax) {
	@import "views/screen-lg-min-to-screen-lg-max";
}

/* Extra-large view */
@media screen and (min-width: $xLargeViewMin) {
	@import "views/screen-xl-min";
}

/* Print view */
@media print {
	@import "views/print";
}
